*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
}

.data {
    padding: 15px;
}

.header {
    background-color: #ac006e;
    height: 200px;
    margin: 10px;
}

.content-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;
    justify-content: center;
}

.block-1 {
    background-color: #db317f;
    min-height:100px;
    width: 24%;
}


.content-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.block-2 {
    background-color: #de5d9e;
    min-height: 100px;
    margin: 10px 0;
    width: calc(50% - 10px);
}

.footer {
    background-color: #ed7bb8;
    height: 200px;
    margin: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .block-1{
        width: 49%;
    }

    .block-2{
        width: 49%;
    }
 }

 @media screen and (max-width: 767px) { 
    .block-1{
        width: 100%;
    }

    .block-2{
        width: 100%;
    }

 }